fastapi
uvicorn
langchain-community
langchain-google-genai
langchain-pinecone
pinecone-client
pypdf
python-dotenv
langchain
pydantic
aiofiles
sqlalchemy
psycopg2-binary
httpx
google-generativeai
python-multipart